@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: ;
}

header {
    background-color: brown;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.logo {
    text-decoration: none;
    color: antiquewhite;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.9em;

}

.navigation a {

    text-decoration: none;
    color: antiquewhite;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1em;
    padding-left: 30px;

}

.navigation a:hover {
    color: rgb(204, 163, 125);


}

section {
    padding: 100px 200px;
    display: flex;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('./image/1.jpg')no-repeat;

    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main h2 {

    color: antiquewhite;
    font-size: 1.5em;
    font-weight: 300;

}

.main h2 span {
    font-family: ;
    color: antiquewhite;
    font-size: 3em;
    font-weight: 900;
}

.main-btn {
    font-family: ;
    text-decoration: none;
    color: antiquewhite;
    background-color: rgba(165, 42, 42, 0.356);
    font-size: 2em;
    font-weight: 500;
    display: inline-block;
    padding: 10px;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: 0.8s ease;
}

.main-btn:hover {
    background-color: rgb(156, 102, 65);
    transform: scale(1.1);
}

.socialmedia a {
    color: antiquewhite;
    padding-right: 30px;
    font-size: 1.6em;

}

.socialmedia a:hover {
    color: brown;
    transform: scale(1.1);
}



#search {
    outline: none;
    text-decoration: none;
    border: none;
    background: transparent;
    font-weight: 500;
    color: antiquewhite;
    height: 30px;
    display: flexbox;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);

}

button {

    text-decoration: none;
    border: none;
    background: transparent;
    padding: 10px 20px;

}

.fa-solid {
    color: antiquewhite;
}

::placeholder {
    color: rgb(255, 255, 255);
}

.middle {


    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.middle h2 {

    color: brown;
    font-size: 4em;
    font-weight: 700;


}

#email {
    outline: none;
    text-decoration: none;
    border: none;
    background: transparent;
    font-weight: 500;
    color: brown;
    height: 30px;
    display: flex;
    padding: 10px 30px;
    background-color: antiquewhite;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    justify-content: space-between;


}

::placeholder {
    color: brown;
}

#password {
    outline: none;
    text-decoration: none;
    border: none;
    background: transparent;
    font-weight: 500;
    color: brown;
    height: 30px;
    display: flex;
    padding: 10px 30px;
    background-color: antiquewhite;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}

#yourname {
    outline: none;
    text-decoration: none;
    border: none;
    background: transparent;
    font-weight: 500;
    color: brown;
    height: 30px;
    display: flex;
    padding: 10px 30px;
    background-color: antiquewhite;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#submit {
    outline: none;
    text-decoration: none;
    border: none;
    background: transparent;
    font-weight: 500;
    color: brown;
    height: 30px;
    display: flex;
    padding: 10px 30px;
    background-color: antiquewhite;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#submit a {
    color: brown;
    text-decoration: none;
}

@media(max-width:1023xp) {}

header {
    padding: 12xp 20xp;
}

.navigation a {
    padding-left: 10xp;
}

.section {
    padding: 80xp 20xp;
}